.refreshBtn {
    width: 50px;
    height: 50px;
    background: url(../images/refreshOff.png);
    background-size:100% 100%;
    background-position: center;
}

.refreshBtn:hover {
    background: url("../images/refreshOn.png");
    background-size:100% 100%;
    background-position: center;
}

.gameBody {
    min-height: 600px;
    position: relative; 
    background-image: url("../images/MenuPic1.jpg");
    background-position: center ;
    background-size:100% 100%;
    background-repeat: repeat;
}

.menu {
    height: 600px;
    min-height: 600px;
    position: relative; 
    background-image: url("../images/MenuBackground.jpg");
    background-position: center ;
    background-size:100% 100%;
    background-repeat: repeat;
    font-family: Georgia;
}
.gameSettings{
    position: static;
    text-align: center;
    top:5%;
    width:80%;
    right:10%;
}
.dvCenter{
    position: absolute;
    text-align: center;
    padding: 30;
    top:50%;
    width:80%;
    right:10%;
}
.gameSettingsBtn {
    width: 130px;
    height: 25px;
    font-family: Georgia;
    font-weight: bold;
    padding: 2px 2px;
    background: url("../images/TileMenuButton.png");
    background-size:100% 100%;
    background-position: center;
}

.gameSettingsBtn:hover {
    background: url("../images/TileMenuButtonHover.png");
    background-size:100% 100%;
    background-position: center;
    border-top-color: #edcba8;
    color: white;
    font-family: Georgia;
}


.label {
    font-size: 14px;
    font-weight: bold;
    text-fill: #333333;
    effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#turnMsgLabel{
    font-size: 14px;
    font-weight: bold;
    effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );

}

#GamesSettings-text {
    font-size: 32px;
    font-family: Georgia;
    fill: #333333;
    effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#winnerMsg{
    font-size: 40px;
    font-family: Georgia;
    effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#winnerName{
    font-size: 40px;
    font-family: Georgia;
    effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );

}


#errorMsg{

    display: none;
    font-family: Georgia;
    font-size: 16px;
    text-fill: #ff0000;
    font-weight: bold;
    effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#msg{
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


/*.tileText:hover {
    font-size: 18px;
}*/